@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins/Poppins-Regular.ttf")
}

* {
  scrollbar-width: thin;
  scrollbar-color: #a4a4a4 #cacaca;
  font-family: "Poppins";
  letter-spacing: .05em;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: orange;
}

*::-webkit-scrollbar-thumb {
  background-color: #cacaca;
  border-radius: 20px;
  border: 3px solid #a4a4a4;
}