/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #a4a4a4 #cacaca;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: orange;
}

*::-webkit-scrollbar-thumb {
  background-color: #cacaca;
  border-radius: 20px;
  border: 3px solid #a4a4a4;
}
