.toggle-sidebar {
  background-color: transparent;
  border: 0px;
  padding: 2px;
  border-radius: 1500px;
  cursor: pointer;
  
  div {
    transform: scale(1);
    width: 32px;
    height: 2px;
    background-color: #ffffff;
    margin: 8px;
    transition: .3s;
  }
}
.active {
  .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  .line2 {
    opacity: 0;
  }
  .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
}